body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    top: 0;
    background: rgb(14, 10, 49);
    z-index: 2;
    padding: 10px;
    opacity: 0.7;
    overflow: hidden;
}

.panel #container {
    width: 410px;
    height: 45%;
    bottom:0
}
.panel #container1 {
    width: 410px;
    height: 45%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 79%;
}


.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 79%;
}

.map-overlay {
    font: 20px inherit;
    background-color: rgba(100, 95, 95, 0.8);
    position: absolute;
    width: 16%;
    height: 45%;
    opacity: 0.9;
    border-radius: 3px;
    top: 0;
    left: 0;
    padding: 0px;
}

.map-overlay .map-overlay-inner {
    padding: 20px;
    margin-bottom: 20px;
}

.map-overlay table {
    border: none;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    display: block;
    margin: 10px 0px;
}

.map-overlay label {
    font: 18px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: contents;
    margin: 0 0 0 0px;
    padding: 0;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.collapsible {
    background-color: rgb(189, 189, 189);
    height: 50px;
    width: 120px;
    color: black;

}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    min-width: 220px;
    vertical-align: middle;
    position: relative;
    margin: 6px 0 0 0;
    cursor: ew-resize;
}

.map-overlay p.credit {
    margin: 0;
    padding: 0;
}

.mapboxgl-popup {
    transform: none !important;
    top: 0%;
    left: 20%;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    display: none !important;
}


.mapboxgl-popup {
    max-width: 400px;
    min-width: 180px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0, 0, 0, 20px;
}

.mapboxgl-popup-tip-container {
    width: 0px;
    height: 0px;
    margin: 0 auto;
    position: absolute;
}

.mapboxgl-popup-tip {
    width: 0;
    height: 0;
    margin: 0;
    border-left: 3 solid transparent;
    border-right: 3 solid transparent;
    border-top: 3 solid transparent;
    box-shadow: none;
}